<section class="contactContainer">
  <h2>{{ "Say Hi!" | translate }}</h2>
  <div class="contactFormHeading">
    <h3>{{ "Have a project in mind?" | translate }}</h3>
    <span>{{
      "I'd love to hear about it. Contact me, and let's make it happen together!"
        | translate
    }}</span>
  </div>
  <form class="contactForm" #contactForm (submit)="sendMail()">
    <mat-form-field
      appearance="outline"
      class="contactInput"
      [class.has-content]="nameField.value"
    >
      <mat-label>{{ "Your name*" | translate }}</mat-label>
      <input
        matInput
        name="name"
        #nameField
        [(ngModel)]="inputName"
        #nameFieldModel="ngModel"
        required
      />
      <mat-hint *ngIf="nameField.value && !isNameValid(nameField.value)">{{
        "Please enter a valid name" | translate
      }}</mat-hint>
      <mat-hint *ngIf="nameFieldModel.touched && !inputName">{{
        "Your name is required" | translate
      }}</mat-hint>
      <mat-icon
        [ngStyle]="{ color: '#70E61C' }"
        matSuffix
        *ngIf="
          nameField.value &&
          nameField.value.trim() !== '' &&
          isNameValid(nameField.value)
        "
        >check_circle</mat-icon
      >
      <mat-icon
        [ngStyle]="{ color: '#e61c40' }"
        matSuffix
        *ngIf="
          (nameField.value && !isNameValid(nameField.value)) ||
          (nameFieldModel.touched && !inputName)
        "
        >error</mat-icon
      >
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="contactInput"
      [class.has-content]="emailField.value"
    >
      <mat-label>{{ "Your email*" | translate }}</mat-label>
      <input
        matInput
        name="email"
        #emailField
        [(ngModel)]="inputEmail"
        #emailFieldModel="ngModel"
        required
      />

      <mat-hint *ngIf="emailField.value && !isEmailValid(emailField.value)">{{
        "Please enter a valid email" | translate
      }}</mat-hint>
      <mat-hint *ngIf="emailFieldModel.touched && !inputEmail">{{
        "Your email is required" | translate
      }}</mat-hint>
      <mat-icon
        [ngStyle]="{ color: '#70E61C' }"
        matSuffix
        *ngIf="emailField.value && isEmailValid(emailField.value)"
        >check_circle</mat-icon
      >
      <mat-icon
        [ngStyle]="{ color: '#e61c40' }"
        matSuffix
        *ngIf="
          (emailField.value && !isEmailValid(emailField.value)) ||
          (emailFieldModel.touched && !inputEmail)
        "
        >error</mat-icon
      >
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="contactTextarea"
      [class.has-content]="messageField.value"
    >
      <mat-label>{{ "Your message*" | translate }}</mat-label>
      <textarea
        type="text"
        matInput
        ngModel
        #messageField
        [(ngModel)]="inputMessage"
        #messageFieldModel="ngModel"
        name="message"
        required
      ></textarea>
      <mat-hint *ngIf="messageFieldModel.touched && !inputMessage">{{
        "A message is required" | translate
      }}</mat-hint>
      <mat-icon
        [ngStyle]="{ color: '#70E61C' }"
        matSuffix
        *ngIf="messageField.value"
        >check_circle</mat-icon
      >
      <mat-icon
        [ngStyle]="{ color: '#e61c40' }"
        matSuffix
        *ngIf="messageFieldModel.touched && !inputMessage"
        >error</mat-icon
      >
    </mat-form-field>

    <mat-checkbox
      [(ngModel)]="privacyPolicyChecked"
      name="privacyPolicy"
      required
    >
      {{ "I've read the" | translate }}
      <a [class.privacyPolicyLink]="privacyPolicyChecked" href="privacy-policy">
        {{ "privacy policy" | translate }}</a
      >
      {{ "and agree to the processing of my data as outlined." | translate }}
    </mat-checkbox>
    <button
      #sendButton
      type="submit"
      class="mainButton contactButton"
      [disabled]="
        !privacyPolicyChecked ||
        !inputName ||
        !inputEmail ||
        !inputMessage ||
        !isNameValid(inputName) ||
        !isEmailValid(inputEmail)
      "
    >
      {{ "Send message" | translate }}
    </button>
  </form>
  <a class="arrowUp" href="#"><img src="/assets/img/arrow_up.png" alt="" /></a>
  <div [ngClass]="{ submitFeedback: true, showSubmitFeedback: messageSend }">
    {{ "submit feedback" | translate }}
  </div>
</section>
