@import "../../../styles.scss";

.contactContainer {
  background-color: $primaryColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: $primaryColor;
    transform: skewY(4deg);
    transform-origin: top right;
    z-index: -1;
  }

  h2 {
    color: $secondaryColor;
    align-self: flex-start;
  }
}

.contactFormHeading {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    color: $accentColor;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    margin-block: unset;
    margin-bottom: 16px;
  }

  span {
    color: $secondaryColor;
    line-height: 120%;
    width: 525px;
    text-align: center;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  gap: 32px;
  margin-top: 32px;
  width: 600px;

  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }

  mat-label {
    color: $secondaryColor;
    font-family: "Overpass";
    font-size: 16px;
    line-height: 120%;
    background-color: $primaryColor;
    padding: 0 4px;
  }

  mat-hint {
    color: #e61c40;
    font-family: "Overpass";
    font-size: 16px;
    line-height: 120%;
  }

  .contactInput {
    height: 64px;
  }

  .contactTextarea {
    height: 180px;
    margin-bottom: 32px;
  }

  input {
    color: $secondaryColor;
    font-family: "Overpass";
    font-size: 16px;
    line-height: 120%;
  }

  textarea {
    color: $secondaryColor;
    font-family: "Overpass";
    font-size: 16px;
    line-height: 120%;

    resize: none;
    height: 180px;
  }

  .mdc-label {
    color: $secondaryColor;
    font-size: 14px;
    line-height: 120%;
  }

  a {
    text-decoration: none;
    color: $accentColor;
    font-size: 14px;
    line-height: 120%;

    &:hover {
      font-weight: 700;
    }
  }

  .privacyPolicyLink {
    font-weight: 700;
  }

  button {
    background-color: unset;
    color: $secondaryColor;
    border-color: $secondaryColor;

    &:disabled {
      color: #bbbbbb;
      border-color: #bbbbbb;
    }

    &:active:enabled {
      background-color: $secondaryColor !important;
      color: $primaryColor !important;
    }
  }
}

.arrowUp {
  align-self: flex-end;
  width: 56px;
  height: 80px;
  margin-top: -64px;
  overflow: hidden;
  margin-bottom: 32px;
  cursor: pointer;

  &:hover img {
    margin-top: 0;
  }

  img {
    margin-top: 24px;
    width: 56px;
    height: 80px;
    transition: all 250ms ease-in-out;
  }
}
