<header>
  <a href=""> <div class="logo" #logo data-value="<sf>">&#60;sf&#62;</div></a>
  <div class="headerRight">
    <button class="languageSelector" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="switchLanguage('en')">
        <span>English</span>
      </button>
      <button mat-menu-item (click)="switchLanguage('de')">
        <span>Deutsch</span>
      </button>
    </mat-menu>
    <img
      class="openMenu"
      src="{{ menuAnimation[currentBurgerIndex] }}"
      alt="Menu"
      (click)="toggleMenu()"
    />
  </div>
</header>
<div class="menu" [class.visible]="showMenu">
  <div class="menuLinks">
    <a
      [ngClass]="{ animateMenuLink0: showMenu }"
      (click)="toggleMenu()"
      href="#about"
      >{{ "About me" | translate }}</a
    >
    <a
      [ngClass]="{ animateMenuLink1: showMenu }"
      (click)="toggleMenu()"
      href="#skills"
      >{{ "My Skills" | translate }}</a
    >
    <a
      [ngClass]="{ animateMenuLink2: showMenu }"
      (click)="toggleMenu()"
      href="#portfolio"
      >Portfolio</a
    >
  </div>

  <div [ngClass]="{ animateMenuFooter: showMenu }" class="menuBottom">
    <div class="menuBottomLeft">
      <a (click)="toggleMenu()" href="#contact">
        <h2>{{ "Say Hi!" | translate }}</h2></a
      >

      <div
        class="copyEmail"
        (click)="copyEmailToClipboard('f.scholz.dev@outlook.com')"
      >
        <div class="copyEmailText">
          <span>f.scholz.dev&#64;outlook.com</span>
          <mat-icon matSuffix>content_copy</mat-icon>
        </div>

        <div [class.visible]="showCopyMessage" class="copyMessage">
          {{ "Email copied to clipboard!" | translate }}
        </div>
      </div>
    </div>
    <div class="menuBottomRight">
      <div class="menuBottomSocials">
        <a href="https://github.com/flos-code" target="_blank">
          <img src="/assets/icons/github_icon.svg" alt="GitHub Link" />
        </a>
        <a href="mailto:f.scholz.dev@outlook.com" target="_blank">
          <img src="/assets/icons/mail_icon.svg" alt="Mail Link" />
        </a>
        <a
          href="https://www.linkedin.com/in/florian-scholz-mb/"
          target="_blank"
        >
          <img src="/assets/icons/linkedin_icon.svg" alt="Linkedin Link" />
        </a>
      </div>

      <div class="menuBottomLegal">
        <div class="legalLinks">
          <a routerLink="/privacy-policy" (click)="toggleMenu()"
            ><span>{{ "Privacy Policy" | translate }}</span>
            <div></div
          ></a>
        </div>
        <div class="legalLinks">
          <a routerLink="/imprint" (click)="toggleMenu()"
            ><span>{{ "Legal Notice" | translate }}</span>
            <div></div
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
