@media screen and (max-width: 1439px) {
  header {
    padding: 32px calc((100vw - 1000px) / 2);
  }

  .menuBottom {
    padding: 0 calc((100vw - 1000px) / 2);
  }
}

@media screen and (max-width: 1279px) {
  header {
    padding: 32px calc((100vw - 800px) / 2);
  }

  .menuBottom {
    padding: 0 calc((100vw - 800px) / 2);
  }
}

@media screen and (max-width: 959px) {
  header {
    padding: 32px calc((100vw - 700px) / 2);
  }

  .menuBottom {
    padding: 0 calc((100vw - 700px) / 2);
  }
}

@media screen and (max-width: 839px) {
  header {
    padding: 32px calc((100vw - 500px) / 2);
  }

  .menuLinks {
    a {
      font-size: 64px;
      width: 480px;
      height: 90px;

      &::before {
        width: 24px;
        height: 24px;
        left: 24px;
        bottom: 12px;
      }

      &:hover::before {
        width: 180px;
        left: 240px;
      }

      &:active::before {
        width: calc(480px - 48px);
        height: calc(90px - 24px);
        left: 24px;
      }
    }
  }

  .menuBottom {
    padding: 0 calc((100vw - 500px) / 2) 32px calc((100vw - 500px) / 2);
    flex-direction: column;

    .menuBottomLeft {
      align-self: flex-start;
    }

    .menuBottomRight {
      align-self: flex-end;
    }
  }
}

@media screen and (max-width: 599px) {
  header {
    padding: 24px calc((100vw - 400px) / 2);
  }

  .menuBottom {
    padding: 0 calc((100vw - 400px) / 2) 32px calc((100vw - 400px) / 2);
  }

  .menu {
    top: 82px;
  }

  .menuLinks {
    a {
      font-size: 56px;
      width: 360px;
      height: 90px;

      &::before {
        width: 16px;
        height: 16px;
        left: 16px;
        bottom: 12px;
      }

      &:hover::before {
        width: 160px;
        left: 180px;
      }

      &:active::before {
        width: calc(360px - 48px);
        height: calc(90px - 24px);
        left: 16px;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  header {
    padding: 24px calc((100vw - 300px) / 2);
  }

  .menuBottom {
    padding: 0 calc((100vw - 300px) / 2) 32px calc((100vw - 300px) / 2);
  }

  .menuLinks {
    gap: 24px;
    margin-top: 24px;
    a {
      font-size: 48px;
      width: 280px;
      height: 90px;

      &::before {
        width: 12px;
        height: 12px;
        left: 8px;
        bottom: 20px;
      }

      &:hover::before {
        width: 120px;
        left: 140px;
      }

      &:active::before {
        width: calc(280px - 24px);
        height: calc(90px - 16px);
        left: 8px;
      }
    }
  }
}
