@import "../../../styles.scss";

.atfContainer {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.atfContainerTop {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    animation: slideInHeading 750ms ease-in-out forwards;
    h1 {
      text-align: center;
      font-family: "Syne";
      font-size: 128px;
      font-weight: 800;
      letter-spacing: -3.2px;
      margin-block: unset;
      margin-top: -36px;
    }
  }

  .underline {
    animation: slideInUnderline 750ms ease-in-out forwards;
    display: flex;
    align-items: center;

    .line {
      width: 640px;
      height: 4px;
      border-radius: 2px;
      background-color: $primaryColor;
    }

    span {
      color: $accentColor;
      text-align: center;
      font-size: 48px;
      font-weight: 700;
      letter-spacing: -1.2px;
      margin: 0 8px;
      line-height: 48px;
    }
  }

  a {
    margin-top: 64px;
    display: none;
  }

  @keyframes slideInHeading {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideInUnderline {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.atfContainerBottom {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin-bottom: 116px;

  .rotatedMail {
    transform: rotate(-90deg);

    a {
      font-weight: 300;
      letter-spacing: -0.575px;
      text-decoration: none;
      color: black;
    }
  }

  .scrollArrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    .scrollArrowAnimation {
      padding: 10px;
      width: 96px;
      height: 160px;

      display: flex;
      overflow: hidden;
      img {
        width: 96px;
        height: 160px;
        animation: arrowAnimation 1500ms linear infinite;
      }
    }

    span {
      text-align: center;
      font-weight: 300;
      letter-spacing: -0.575px;
    }
  }
}

@keyframes arrowAnimation {
  0% {
    margin-top: -170px;
  }
  100% {
    margin-top: 110px; /* Reset to start */
  }
}

@media screen and (max-width: 1439px) {
  .atfContainer {
    .atfContainerTop {
      .heading {
        h1 {
          font-size: 96px;
        }
      }
      .underline {
        .line {
          width: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 959px) {
  .atfContainer {
    .atfContainerTop {
      .heading {
        h1 {
          font-size: 80px;
        }
      }
      a {
        display: block;
      }
      .underline {
        .line {
          width: 360px;
        }
      }
    }
  }
}

@media screen and (max-width: 839px) {
  .atfContainer {
    .atfContainerTop {
      .heading {
        h1 {
          font-size: 64px;
          margin-top: -28px;
        }
      }
      .underline {
        .line {
          width: 260px;
        }

        span {
          font-size: 32px;
          line-height: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .atfContainer {
    .atfContainerTop {
      margin-top: 180px;
      .heading {
        h1 {
          font-size: 48px;
          margin-top: -20px;
        }
      }
      .underline {
        .line {
          width: 200px;
          height: 3px;
          border-radius: 1.5px;
        }
        span {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }

    .atfContainerBottom {
      padding: 0;
      margin-bottom: 64px;

      .rotatedMail {
        margin-left: 16px;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .atfContainer {
    .atfContainerTop {
      margin-top: 140px;
      .heading {
        h1 {
          font-size: 36px;
          margin-top: -16px;
        }
      }

      .underline {
        .line {
          width: 120px;
        }

        span {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }

    .atfContainerBottom {
      .rotatedMail {
        margin-left: 32px;
      }

      .scrollArrow {
        transform: translateX(-40px);
      }
    }
  }
}
