<section class="atfContainer">
  <div class="atfContainerTop">
    <div class="heading">
      <h1>Frontend</h1>
      <h1>{{ "Developer" | translate }}</h1>
    </div>

    <div class="underline">
      <div class="line"></div>
      <span>Florian Scholz</span>
    </div>
    <a href="#contact">
      <button class="mainButton">{{ "Send a message" | translate }}</button></a
    >
  </div>

  <div class="atfContainerBottom">
    <div class="rotatedMail">
      <a href="#contact">contact&#64;scholz-florian.com</a>
    </div>

    <div class="scrollArrow">
      <div class="scrollArrowAnimation">
        <img src="/assets/img/arrow_down_animation.png" alt="Arrow Down" />
      </div>

      <span
        >{{ "Scroll" | translate }}<br />
        {{ "Down" | translate }}</span
      >
    </div>
  </div>
</section>
