@media screen and (max-width: 1439px) {
  .atfContainer {
    .atfContainerTop {
      .heading {
        h1 {
          font-size: 96px;
        }
      }
      .underline {
        .line {
          width: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 959px) {
  .atfContainer {
    .atfContainerTop {
      .heading {
        h1 {
          font-size: 80px;
        }
      }
      a {
        display: block;
      }
      .underline {
        .line {
          width: 360px;
        }
      }
    }
  }
}

@media screen and (max-width: 839px) {
  .atfContainer {
    .atfContainerTop {
      .heading {
        h1 {
          font-size: 64px;
          margin-top: -28px;
        }
      }
      .underline {
        .line {
          width: 260px;
        }

        span {
          font-size: 32px;
          line-height: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .atfContainer {
    .atfContainerTop {
      margin-top: 180px;
      .heading {
        h1 {
          font-size: 48px;
          margin-top: -20px;
        }
      }
      .underline {
        .line {
          width: 200px;
          height: 3px;
          border-radius: 1.5px;
        }
        span {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }

    .atfContainerBottom {
      padding: 0;
      margin-bottom: 64px;

      .rotatedMail {
        margin-left: 16px;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .atfContainer {
    .atfContainerTop {
      margin-top: 140px;
      .heading {
        h1 {
          font-size: 36px;
          margin-top: -16px;
        }
      }

      .underline {
        .line {
          width: 120px;
        }

        span {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }

    .atfContainerBottom {
      .rotatedMail {
        margin-left: 32px;
      }

      .scrollArrow {
        transform: translateX(-40px);
      }
    }
  }
}
