@import "../../styles.scss";

.aboutContainer {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.aboutContainerTop {
  display: flex;
  justify-content: space-between;
}

.aboutText {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: "Syne";
    font-size: 78px;
    font-weight: 800;
    letter-spacing: 0.78px;
    transition: all 150ms;
    margin-block: unset;
    margin-bottom: 52px;

    &:hover {
      color: $accentColor;
    }
  }

  p {
    width: 610px;

    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    margin-block: unset;
  }

  button {
    margin-top: 88px;
  }
}
.aboutImg {
  .profileImage {
    position: relative;
    width: 553px;

    &:hover .hoverProfileImage {
      opacity: 1;
    }
    img {
      position: absolute;
      width: 553px;
      height: 553px;
    }
    .hoverProfileImage {
      top: 20px;
      left: 20px;
      opacity: 0;
      transition: all 150ms;
    }
  }
}

.aboutContainerBottom {
  img {
    padding-left: 60vw;
    padding-top: 32px;
  }
}
