<section class="contactContainer">
  <h2>Say Hi!</h2>
  <div class="contactFormHeading">
    <h3>Want to discuss a new project?</h3>
    <span
      >Feel free to reach out and share your ideas. Let's collaborate to bring
      them to life!</span
    >
  </div>
  <form class="contactForm" #contactForm (submit)="sendMail()">
    <mat-form-field appearance="outline" [class.has-content]="nameField.value">
      <mat-label>Your name</mat-label>
      <input matInput name="name" #nameField required />
      <mat-hint *ngIf="nameField.value && !isNameValid(nameField.value)"
        >Please enter a valid name</mat-hint
      >
      <mat-icon
        [ngStyle]="{ color: '#70E61C' }"
        matSuffix
        *ngIf="
          nameField.value &&
          nameField.value.trim() !== '' &&
          isNameValid(nameField.value)
        "
        >check_circle</mat-icon
      >
      <mat-icon
        [ngStyle]="{ color: '#e61c40' }"
        matSuffix
        *ngIf="nameField.value && !isNameValid(nameField.value)"
        >error</mat-icon
      >
    </mat-form-field>

    <mat-form-field appearance="outline" [class.has-content]="emailField.value">
      <mat-label>Your email</mat-label>
      <input matInput name="email" #emailField required />

      <mat-hint *ngIf="emailField.value && !isEmailValid(emailField.value)"
        >Please enter a valid email</mat-hint
      >
      <mat-icon
        [ngStyle]="{ color: '#70E61C' }"
        matSuffix
        *ngIf="emailField.value && isEmailValid(emailField.value)"
        >check_circle</mat-icon
      >
      <mat-icon
        [ngStyle]="{ color: '#e61c40' }"
        matSuffix
        *ngIf="emailField.value && !isEmailValid(emailField.value)"
        >error</mat-icon
      >
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      [class.has-content]="messageField.value"
    >
      <mat-label>Your message</mat-label>
      <textarea
        type="text"
        matInput
        ngModel
        #messageField
        name="message"
        required
      ></textarea>
      <mat-icon
        [ngStyle]="{ color: '#70E61C' }"
        matSuffix
        *ngIf="messageField.value"
        >check_circle</mat-icon
      >

      <!-- <mat-hint *ngIf="!inputMessage.valid && inputMessage.touched"
        >Your message is empty</mat-hint
      > -->
    </mat-form-field>

    <mat-checkbox
      [(ngModel)]="privacyPolicyChecked"
      name="privacyPolicy"
      required
    >
      I've read the
      <a [class.privacyPolicyLink]="privacyPolicyChecked" href=""
        >privacy policy</a
      >
      and agree to the processing of my data as outlined.
    </mat-checkbox>
    <button
      #sendButton
      type="submit"
      class="mainButton contactButton"
      [disabled]="!privacyPolicyChecked"
    >
      Send message
    </button>
  </form>
</section>
