<section #aboutContainer class="aboutContainer">
  <div class="aboutContainerTop">
    <div class="aboutText" [ngClass]="{ animateAboutText: isSectionVisible }">
      <h2>{{ "About me" | translate }}</h2>
      <p>
        {{
          "Hey, I'm Florian based near Stuttgart, Germany. With a background in
        mechanical engineering, I've transitioned to front-end web development.
        Thanks to my combined expertise in engineering and programming, I can
        help you to turn your concepts into efficient and user-friendly web
        solutions." | translate
        }}
        <br /><br />
        {{
          "Feel free to contact me for your next development needs." | translate
        }}
      </p>
      <a href="#contact">
        <button class="mainButton">{{ "Let's talk" | translate }}</button></a
      >
    </div>
    <div class="aboutImg" [ngClass]="{ animateAboutImage: isSectionVisible }">
      <div class="profileImage">
        <img src="/assets/img/florian_scholz.jpeg" alt="Florian Scholz" />
        <img
          class="hoverProfileImage"
          src="/assets/img/Rectangle 12.png"
          alt="highlight profile image"
        />
      </div>
    </div>
  </div>

  <div #aboutContainerBottom class="aboutContainerBottom">
    <img [src]="getImageSrc()" alt="Arrow" />
  </div>
</section>
