@import "../../../styles.scss";

.aboutContainer {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.aboutContainerTop {
  display: flex;
  justify-content: space-between;
}

.aboutText {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    width: 610px;
    font-size: 23px;
    line-height: 120%;
    margin-block: unset;
  }

  button {
    margin-top: 88px;
  }
}
.aboutImg {
  .profileImage {
    position: relative;
    width: 553px;

    &:hover .hoverProfileImage {
      opacity: 1;
      transform: translate(20px, 20px); // Default state
    }
    img {
      position: absolute;
      width: 553px;
      height: 553px;
    }
    .hoverProfileImage {
      top: 0;
      left: 0;
      opacity: 0;
      transform: translate(0, 0); // Default state
      transition: opacity 150ms linear, transform 150ms linear;
    }
  }
}

.aboutContainerBottom {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  img {
    margin-top: 48px;
    margin-right: 120px;
  }
}
