@media screen and (max-width: 1439px) {
  .aboutText {
    p {
      width: 510px;
    }

    button {
      margin-top: 64px;
    }
  }

  .aboutImg {
    .profileImage {
      width: 440px;
      height: 440px;
      img {
        width: 440px;
        height: 440px;
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .aboutText {
    p {
      width: 385px;
    }

    button {
      margin-top: 32px;
    }
  }

  .aboutImg {
    .profileImage {
      width: 360px;
      height: 360px;
      img {
        width: 360px;
        height: 360px;
      }
    }
  }
}

@media screen and (max-width: 959px) {
  .aboutContainerTop {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .aboutText {
    a {
      display: none;
    }
  }

  .aboutImg {
    .profileImage {
      width: 400px;
      height: 400px;
      img {
        width: 400px;
        height: 400px;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .aboutContainerTop {
    gap: 24px;
  }

  .aboutText {
    p {
      width: 260px;
    }
  }

  .aboutImg {
    .profileImage {
      width: 270px;
      height: 270px;
      img {
        width: 270px;
        height: 270px;
      }
    }
  }
  .aboutContainerBottom {
    img {
      margin-top: 0;
      margin-right: 48px;
    }
  }
}
