@import "../../../styles.scss";

.aboutContainer {
  flex-direction: column;
  overflow-x: hidden;
  gap: 32px;
}

.aboutContainerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutText {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;

  p {
    width: 610px;
    line-height: 120%;
    margin-block: unset;
  }

  button {
    margin-top: 80px;
  }
}
.aboutImg {
  opacity: 0;
  .profileImage {
    position: relative;
    width: 480px;
    height: 480px;

    &:hover .hoverProfileImage {
      opacity: 1;
      transform: translate(20px, 20px); // Default state
    }
    img {
      position: absolute;
      width: 480px;
      height: 480px;
    }
    .hoverProfileImage {
      top: 0;
      left: 0;
      opacity: 0;
      transform: translate(0, 0); // Default state
      transition: opacity 150ms linear, transform 150ms linear;
    }
  }
}

.aboutContainerBottom {
  display: flex;
  justify-content: flex-end;
  img {
    margin-top: 48px;
    margin-right: 120px;
  }
}

.animateAboutText {
  animation: slideTextIn 750ms ease-in-out forwards;
}

.animateAboutImage {
  animation: slideImageIn 750ms ease-in-out forwards;
}

@keyframes slideTextIn {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideImageIn {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1439px) {
  .aboutText {
    p {
      width: 510px;
    }

    button {
      margin-top: 64px;
    }
  }

  .aboutImg {
    .profileImage {
      width: 440px;
      height: 440px;
      img {
        width: 440px;
        height: 440px;
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .aboutText {
    p {
      width: 385px;
    }

    button {
      margin-top: 32px;
    }
  }

  .aboutImg {
    .profileImage {
      width: 360px;
      height: 360px;
      img {
        width: 360px;
        height: 360px;
      }
    }
  }
}

@media screen and (max-width: 959px) {
  .aboutContainerTop {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .aboutText {
    a {
      display: none;
    }
  }

  .aboutImg {
    .profileImage {
      width: 400px;
      height: 400px;
      img {
        width: 400px;
        height: 400px;
      }
    }
  }
}
