<section class="aboutContainer">
  <div class="aboutContainerTop">
    <div class="aboutText">
      <h2>About me</h2>
      <p>
        I am a Front-end developer based in Munich, Germany. I enjoy helping
        designers and companies bring their ideas into real life. I am looking
        forward to continuing my developer career with a job in a junior web
        developer position.
        <br /><br />
        If you think I'd be a good match for your projects, contact me!
      </p>
      <button class="mainButton">Let's talk</button>
    </div>
    <div class="aboutImg">
      <div class="profileImage">
        <img src="/assets/img/florian_scholz.jpeg" alt="Florian Scholz" />
        <img
          class="hoverProfileImage"
          src="/assets/img/Rectangle 12.png"
          alt="highlight profile image"
        />
      </div>
    </div>
  </div>

  <div class="aboutContainerBottom" (mouseenter)="hoveredArrow = true">
    <img [src]="getImageSrc()" alt="Arrow" />
  </div>
</section>
