@import "../../../../styles.scss";

.tailDefault {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  pointer-events: none;
  transition: opacity 500ms ease;
}

.tail0 {
  background-color: #00bc8f;
  z-index: 30;
}

.tail1 {
  background-color: #40cca8;
  z-index: 29;
}

.tail2 {
  background-color: #80dcc1;
  z-index: 28;
}

.tail3 {
  background-color: #bfecda;
  z-index: 27;
}

@media (hover: none) and (pointer: coarse) {
  .tailDefault {
    display: none;
  }
}
