@media screen and (max-width: 1439px) {
  h2 {
    margin-bottom: -40px;
  }

  .skillsImagesBorder {
    .skillsImages {
      padding: 80px 48px 48px 48px;
      gap: 64px 96px;
    }
  }
}

@media screen and (max-width: 1439px) {
  h2 {
    margin-bottom: -32px;
  }

  .skillsImagesBorder {
    border: 3px solid $primaryColor;
  }
}

@media screen and (max-width: 839px) {
  .skillsImagesBorder {
    .skillsImages {
      padding: 64px 32px 32px 32px;
      gap: 48px 64px;

      .skill {
        width: 80px;
        gap: 12px;
        img {
          width: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .skillsImagesBorder {
    .skillsImages {
      padding: 64px 24px 24px 24px;
      gap: 32px 48px;

      .skill {
        width: 80px;
        gap: 12px;
        img {
          width: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  h2 {
    margin-bottom: -20px;
  }

  .skillsImagesBorder {
    .skillsImages {
      padding: 64px 8px 12px 8px;
      gap: 24px 16px;
    }
  }

  .skillsArrow {
    img {
      margin-top: 24px;
      margin-left: 48px;
    }
  }
}
