<section #skillsContainer class="skillsContainer">
  <h2>{{ "My Skills" | translate }}</h2>
  <div class="skillsImagesBorder">
    <div class="skillsImages">
      <div
        *ngFor="let skill of skills"
        class="skill"
        [ngClass]="{ animateSkill: isSectionVisible }"
        [style.animation-duration]="skill.animationDuration"
      >
        <img [src]="skill.imgPath" [alt]="skill.name" />
        <span>{{ skill.name }}</span>
      </div>
    </div>
  </div>
  <div #skillsArrow class="skillsArrow">
    <img [src]="getImageSrc()" alt="Arrow" />
  </div>
</section>
