@import "../../../styles.scss";

.skillsContainer {
  flex-direction: column;
  align-items: center;
}

h2 {
  padding: 0px 12px;
  margin-bottom: -49px;
  background-color: $secondaryColor;
  z-index: 1;
}

.skillsImagesBorder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid $primaryColor;

  .skillsImages {
    max-width: calc(500px + 4 * 128px);
    padding: 160px 80px;
    display: flex;
    gap: 80px 128px;
    flex-wrap: wrap;
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    // height: 104px;
    gap: 16px;
    overflow: hidden;
    opacity: 0;

    img {
      //   transform: translate(40px);
      height: 75px; // Adjust image size as needed
      transition: all 150ms ease-in-out;
    }

    span {
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 120%;
      transition: all 150ms ease-in-out;
    }

    &:hover {
      img {
        animation: hoverEffect 400ms ease-in-out;
      }

      span {
        color: $accentColor;
      }
    }
  }

  @keyframes hoverEffect {
    0% {
      transform: translateX(0px);
    }
    20% {
      transform: translateX(48px);
    }
    40% {
      transform: translateX(72px);
      width: 54px;
      height: 58px;
      margin-bottom: 17px;
    }
    60% {
      transform: translateX(-72px);
      width: 54px;
      height: 58px;
      margin-bottom: 17px;
    }
    80% {
      transform: translateX(-48px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}

.skillsArrow {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  img {
    transform: scaleX(-1);
    margin-top: 48px;
    margin-left: 120px;
  }
}

.animateSkill {
  animation: zoomInSkills 750ms ease-in-out forwards;
}

@keyframes zoomInSkills {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
