@import "../../styles.scss";

.privacyPolicyContainer {
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 32px;

  h1 {
    font-size: 32px;
    font-weight: 600;
    font-family: "Syne";
    margin-block: unset;
    margin-bottom: 32px;
  }

  h2 {
    font-size: 26px;
    font-weight: 600;
    font-family: "Syne";
    letter-spacing: normal;
    margin: 16px 0;

    &:hover {
      color: $primaryColor !important;
    }
  }

  h3 {
    font-size: 22px;
    font-weight: 700;
    font-family: "Syne";
    margin-block: unset;
    margin-bottom: 16px;
  }

  h4 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Syne";
    margin-block: unset;
    margin-bottom: 16px;
  }

  p {
    font-family: "Overpass";
    font-size: 20px;
    margin-block: unset;
    margin-bottom: 8px;
  }

  a {
    text-decoration: none;
    color: $accentColor;
  }

  mat-icon {
    position: fixed;
    right: 250px;
    bottom: 250px;
    width: 48px;
    height: 48px;
    font-size: 40px;
    border-radius: 50%;
    border: 4px solid $primaryColor;
    background-color: $secondaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 150ms ease-in-out;

    &:hover {
      cursor: pointer;
      border: 4px solid $accentColor;
      color: $accentColor;
      box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    }

    &:active {
      background-color: $accentColor;
      color: $secondaryColor;
      border: 4px solid $accentColor;
      box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    }
  }
}
