@media screen and (max-width: 1439px) {
  .privacyPolicyContainer {
    mat-icon {
      right: calc((100vw - 1000px) / 2 + 80px);
    }
  }
}

@media screen and (max-width: 1279px) {
  .privacyPolicyContainer {
    mat-icon {
      right: calc((100vw - 800px) / 2 + 40px);
    }
  }
}

@media screen and (max-width: 959px) {
  .privacyPolicyContainer {
    mat-icon {
      right: calc((100vw - 700px) / 2 + 40px);
    }
  }
}

@media screen and (max-width: 839px) {
  .privacyPolicyContainer {
    mat-icon {
      right: calc((100vw - 500px) / 2 + 40px);
    }
  }
}

@media screen and (max-width: 599px) {
  .privacyPolicyContainer {
    mat-icon {
      right: calc((100vw - 400px) / 2 + 32px);
    }
  }
}

@media screen and (max-width: 479px) {
  .privacyPolicyContainer {
    mat-icon {
      right: calc((100vw - 300px) / 2 + 32px);
      bottom: 180px;
    }
  }
}
