@media screen and (max-width: 1439px) {
  .projectContainer {
    width: 1000px;
  }

  .projectImg {
    width: 540px;
    height: 350px;

    .hoverProjectImg {
      width: 540px;
      height: 350px;
    }

    .hoverProject {
      width: 540px;
      height: 350px;
    }
  }

  .oddProjectContainer {
    .hoverProjectArrow {
      left: 500px;
    }

    .projectText {
      margin-right: 0;
    }
  }

  .evenProjectContainer {
    .hoverProjectArrow {
      right: 500px;
    }

    .projectText {
      margin-left: 0;
    }
  }

  .projectText {
    width: 380px;
  }

  .projectLinks {
    gap: 24px;
  }
}

@media screen and (max-width: 1279px) {
  .projectContainer {
    width: 800px;
  }

  .projectImg {
    width: 360px;
    height: 230px;

    .hoverProjectImg {
      width: 360px;
      height: 230px;
    }

    .hoverProject {
      width: 360px;
      height: 230px;
    }

    .hoverProjectArrow {
      top: 100px;
      width: 24px;
      height: 24px;
    }
  }

  .oddProjectContainer {
    .hoverProjectArrow {
      left: 335px;
    }
  }

  .evenProjectContainer {
    .hoverProjectArrow {
      right: 335px;
    }
  }

  .projectInfo {
    gap: 0;

    .projectCounter {
      font-size: 40px;
      line-height: 100%;
    }
  }

  .projectText {
    gap: 8px;
    h3 {
      font-size: 36px;
    }
  }

  .projectLinks {
    gap: 24px;
  }

  .oddProjectContainer.hoverState .hoverProjectArrow {
    width: 48px;
    height: 48px;
  }

  .evenProjectContainer.hoverState .hoverProjectArrow {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 959px) {
  .projectContainer {
    width: 600px;
    gap: 32px;
  }

  .oddProjectContainer {
    flex-direction: column;
    align-items: center;

    .projectInfo {
      transform: translateX(0);
      transform: translateY(-400px);
      align-self: flex-start;
    }

    .hoverProjectArrow {
      left: 400px;
    }

    .projectCounter {
      display: none;
    }

    .projectCounterMobile {
      display: flex;
      align-self: flex-start;
    }
  }

  .evenProjectContainer {
    flex-direction: column;
    align-items: center;

    .projectInfo {
      transform: translateX(0);
      transform: translateY(-400px);
      align-self: flex-end;

      .projectText {
        text-align: end;

        .projectLinks {
          justify-content: flex-end;
        }
      }
    }

    .hoverProjectArrow {
      right: 400px;
    }

    .projectCounter {
      display: none;
    }

    .projectCounterMobile {
      display: flex;
      align-self: flex-end;
    }
  }

  .projectImg {
    width: 600px;
    height: 390px;

    .hoverProjectImg {
      width: 600px;
      height: 390px;
    }

    .hoverProject {
      width: 600px;
      height: 390px;
    }

    .hoverProjectArrow {
      top: 356px;
      width: 36px;
      height: 36px;
    }
  }

  .oddProjectContainer.hoverState .hoverProjectArrow {
    width: 64px;
    height: 64px;
    transform: translate(-20px, 20px) rotate(180deg);
  }

  .evenProjectContainer.hoverState .hoverProjectArrow {
    width: 64px;
    height: 64px;
    transform: translate(-20px, 20px) rotate(90deg);
  }
}

@media screen and (max-width: 839px) {
  .projectContainer {
    width: 480px;
  }

  .oddProjectContainer {
    .hoverProjectArrow {
      left: 400px;
    }
  }

  .evenProjectContainer {
    .hoverProjectArrow {
      right: 400px;
    }
  }

  .projectImg {
    width: 480px;
    height: 310px;

    .hoverProjectImg {
      width: 480px;
      height: 310px;
    }

    .hoverProject {
      width: 480px;
      height: 310px;
    }

    .hoverProjectArrow {
      top: 280px;
      width: 32px;
      height: 32px;
    }
  }

  .oddProjectContainer.hoverState .hoverProjectArrow {
    width: 56px;
    height: 56px;
  }

  .evenProjectContainer.hoverState .hoverProjectArrow {
    width: 56px;
    height: 56px;
  }
}

@media screen and (max-width: 599px) {
  .projectContainer {
    width: 360px;
  }

  .oddProjectContainer {
    .hoverProjectArrow {
      left: 280px;
    }
  }

  .evenProjectContainer {
    .hoverProjectArrow {
      right: 260px;
    }
  }

  .projectImg {
    width: 360px;
    height: 230px;

    .hoverProjectImg {
      width: 360px;
      height: 230px;
    }

    .hoverProject {
      width: 360px;
      height: 230px;
    }

    .hoverProjectArrow {
      top: 205px;
      width: 24px;
      height: 24px;
    }
  }

  .oddProjectContainer.hoverState .hoverProjectArrow {
    width: 48px;
    height: 48px;
  }

  .evenProjectContainer.hoverState .hoverProjectArrow {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 479px) {
  .projectContainer {
    width: 280px;
    gap: 24px;

    .projectCounterMobile {
      font-size: 28px;
    }
  }

  .projectText {
    width: 280px;

    h3 {
      font-size: 28px;
    }
  }

  .oddProjectContainer {
    .hoverProjectArrow {
      left: 180px;
    }
  }

  .evenProjectContainer {
    .hoverProjectArrow {
      right: 180px;
    }
  }

  .projectImg {
    width: 280px;
    height: 180px;

    .hoverProjectImg {
      width: 280px;
      height: 180px;
    }

    .hoverProject {
      width: 280px;
      height: 180px;
    }

    .hoverProjectArrow {
      top: 160px;
      width: 16px;
      height: 16px;
    }
  }

  .oddProjectContainer.hoverState .hoverProject {
    transform: translate(8px, 8px);
  }

  .oddProjectContainer.hoverState .hoverProjectArrow {
    transform: translate(8px, 8px) rotate(180deg);
    width: 40px;
    height: 40px;
  }

  .evenProjectContainer.hoverState .hoverProject {
    transform: translate(-8px, 8px);
  }

  .evenProjectContainer.hoverState .hoverProjectArrow {
    transform: translate(-8px, 8px) rotate(90deg);
    width: 40px;
    height: 40px;
  }
}
