<div
  class="projectContainer"
  [ngClass]="{
    oddProjectContainer: index % 2 === 0,
    evenProjectContainer: index % 2 !== 0,
    hoverState: isHovered
  }"
>
  <div class="projectImg">
    <img
      class="hoverProjectImg"
      [src]="project.imgPath"
      alt="{{ project.name }}"
    />
    <img class="hoverProject" src="/assets/img/Rectangle 7.png" alt="" />
    <img class="hoverProjectArrow" src="/assets/img/project_arrow.png" alt="" />
  </div>

  <div class="projectInfo">
    <div class="projectCounter">
      <div>{{ index + 1 }}/{{ totalCount }}</div>
    </div>
    <div class="projectText">
      <h3>{{ project.name }}</h3>
      <span class="usedTools">{{ project.usedTools.join(" | ") }}</span>
      <span class="description">{{ project.description }}</span>
      <div class="projectLinks">
        <a href="{{ project.liveLink }}" target="_blank"
          ><button class="mainButton">Live</button></a
        >
        <a href="{{ project.githubLink }}" target="_blank"
          ><button class="mainButton">GitHub</button></a
        >
      </div>
    </div>
  </div>
</div>
