$primaryColor: #000000;
$secondaryColor: #fffcf3;
$accentColor: #00bc8f;

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $secondaryColor;
  font-family: "Overpass";
  font-size: 23px;
}

section {
  display: flex;
  padding: 0 calc((100vw - 1200px) / 2);
}

h2 {
  font-family: "Syne";
  font-size: 78px;
  font-weight: 800;
  letter-spacing: 0.78px;
  transition: all 150ms ease-in-out;
  margin-block: unset;
  margin-bottom: 48px;

  &:hover {
    color: $accentColor !important;
  }
}

.mainButton {
  display: inline-flex;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 4px solid $primaryColor;
  background-color: $secondaryColor;
  font-size: 23px;
  font-weight: 400;
  line-height: 120%; /* 27.6px */
  transition: all 150ms;

  &:hover:enabled {
    cursor: pointer;
    padding: 20px 80px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    font-weight: 700;

    &:active:enabled {
      background-color: $primaryColor;
      font-weight: 400;
      color: $secondaryColor;
      padding: 20px 80px;
      box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    }
  }
}

//Scrollbar

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $accentColor;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $accentColor transparent;
}

//material design components style overwrite

::ng-deep .contactContainer .mat-mdc-form-field {
  .mdc-notched-outline {
    border: none !important;
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border: none !important;
  }
}

.mat-mdc-form-field {
  .mdc-text-field {
    border: none !important;
    border-bottom: 2px solid $secondaryColor !important;
  }

  &:hover .mdc-text-field {
    border: 4px solid $secondaryColor !important;
    border-radius: 4px;
  }

  &.mat-focused .mdc-text-field {
    border: 2px solid $secondaryColor !important;
    border-radius: 4px;
  }
}

.mat-mdc-form-field.has-content {
  .mdc-text-field {
    border: 1px solid $secondaryColor !important;
    border-radius: 4px;
  }
}

.mat-mdc-form-field .mdc-text-field {
  box-sizing: border-box;
}

.mat-mdc-form-field-required-marker {
  display: none;
}

.mdc-checkbox {
  &__native-control:enabled ~ &__background {
    border-color: $secondaryColor !important;
  }
}

.mdc-checkbox {
  &__native-control:enabled:checked ~ &__background {
    background-color: $accentColor !important;
    border-color: $accentColor !important;
  }
}

.mdc-checkbox {
  &__native-control:focus:checked ~ &__ripple {
    opacity: 0.3 !important;
    background-color: $accentColor !important;
  }
}

.mdc-checkbox {
  &__native-control:hover ~ &__ripple {
    opacity: 0.3 !important;
    background-color: $accentColor !important;
  }
}

.mdc-label {
  color: $secondaryColor;
  font-size: 14px;
  line-height: 120%;
}

.mat-mdc-menu-content {
  background-color: $secondaryColor;
}

.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  font-family: "Overpass" !important;
  font-weight: 400 !important;
}

.mat-mdc-menu-item:not([disabled]):hover {
  background-color: #bfecda !important;
}

.mat-mdc-icon-button {
  --mdc-icon-button-disabled-icon-color: rgba(0, 0, 0, 0) !important;
  --mat-icon-button-state-layer-color: #00bc8f !important;
  --mat-icon-button-ripple-color: rgba(0, 0, 0, 0) !important;
  --mat-icon-button-hover-state-layer-opacity: 0.1 !important;
  --mat-icon-button-focus-state-layer-opacity: 0.2 !important;
  --mat-icon-button-pressed-state-layer-opacity: 0.3 !important;
}

//mediaquery

@media screen and (max-width: 1439px) {
  section {
    padding: 0 calc((100vw - 1000px) / 2);
  }

  h2 {
    font-size: 64px;
    margin-bottom: 32px;
  }

  .mainButton {
    padding: 16px 48px;
    &:hover:enabled {
      padding: 16px 64px;
    }
    &:active:enabled {
      padding: 16px 64px !important;
    }
  }
}

@media screen and (max-width: 1279px) {
  section {
    padding: 0 calc((100vw - 800px) / 2);
  }

  h2 {
    font-size: 48px;
  }

  body {
    font-size: 20px;
  }

  .mainButton {
    border: 3px solid $primaryColor;
    font-size: 20px;
    padding: 12px 40px;
    &:hover:enabled {
      padding: 12px 56px;
    }
    &:active:enabled {
      padding: 12px 56px !important;
    }
  }
}

@media screen and (max-width: 959px) {
  section {
    padding: 0 calc((100vw - 700px) / 2);
  }
}

@media screen and (max-width: 839px) {
  section {
    padding: 0 calc((100vw - 500px) / 2);
  }
}

@media screen and (max-width: 599px) {
  section {
    padding: 0 calc((100vw - 400px) / 2);
  }
}

@media screen and (max-width: 479px) {
  section {
    padding: 0 calc((100vw - 300px) / 2);
  }

  h2 {
    font-size: 32px;
    margin-bottom: 24px;
  }

  body {
    font-size: 18px;
  }

  .mainButton {
    font-size: 18px;
    padding: 12px 32px;
    &:hover:enabled {
      padding: 12px 48px;
    }
    &:active:enabled {
      padding: 12px 48px !important;
    }
  }
}
