@media screen and (max-width: 959px) {
  .singleProject {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 839px) {
  .portfolioHeading {
    span {
      width: 480px;
    }
  }
  .singleProject {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 599px) {
  .portfolioHeading {
    span {
      width: 360px;
    }
  }

  .singleProject {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 479px) {
  .portfolioHeading {
    span {
      width: 280px;
    }
  }

  .projectsArrow {
    img {
      margin-top: 0;
      margin-right: 48px;
    }
  }
}
