.portfolioContainer {
  flex-direction: column;
  margin-bottom: 32px;
  overflow-x: hidden;
}

.portfolioHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
  span {
    display: block;
    line-height: 120%;
    width: 525px;
    text-align: center;
  }
}

.singleProject {
  width: 100%;
  margin-bottom: 64px;
}

.projectsArrow {
  display: flex;
  justify-content: flex-end;
  img {
    margin-top: 48px;
    margin-right: 120px;
  }
}

@media screen and (max-width: 959px) {
  .singleProject {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 839px) {
  .portfolioHeading {
    span {
      width: 480px;
    }
  }
  .singleProject {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 599px) {
  .portfolioHeading {
    span {
      width: 360px;
    }
  }

  .singleProject {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 479px) {
  .portfolioHeading {
    span {
      width: 280px;
    }
  }
}
