<section class="portfolioContainer">
  <div class="portfolioHeading">
    <h2>Portfolio</h2>
    <span>
      {{
        "Feel free to explore my recent projects and check out their source code."
          | translate
      }}
    </span>
  </div>
  <div
    class="singleProject"
    *ngFor="let project of projects; let i = index"
    (mouseenter)="onMouseEnter(i)"
    (mouseleave)="onMouseLeave()"
  >
    <app-portfolio-project
      [project]="project"
      [index]="i"
      [totalCount]="projects.length"
      [isHovered]="hoveredProjectIndex === i"
    >
    </app-portfolio-project>
  </div>

  <div #projectsArrow class="projectsArrow">
    <img [src]="getImageSrc()" alt="Arrow" />
  </div>
</section>
