<section class="portfolioContainer">
  <div class="portfolioHeading">
    <h2>Portfolio</h2>
    <span>
      Feel free to try out my latest development projects and look into their
      code. .
    </span>
  </div>
  <div
    class="singleProject"
    *ngFor="let project of projects; let i = index"
    (mouseenter)="onMouseEnter(i)"
    (mouseleave)="onMouseLeave()"
  >
    <app-portfolio-project
      [project]="project"
      [index]="i"
      [totalCount]="projects.length"
      [isHovered]="hoveredProjectIndex === i"
    >
    </app-portfolio-project>
  </div>

  <div class="projectsArrow" (mouseenter)="hoveredArrow = true">
    <img [src]="getImageSrc()" alt="Arrow" />
  </div>
</section>
